<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gestion_des_Candidateurs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>servlets.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtendAOServlet</display-name>
    <servlet-name>ExtendAOServlet</servlet-name>
    <servlet-class>servlets.ExtendAOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtendAOServlet</servlet-name>
    <url-pattern>/ExtendAOServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmissionServlet</display-name>
    <servlet-name>SubmissionServlet</servlet-name>
    <servlet-class>servlets.SubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/SubmissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFinancialOfferServlet</display-name>
    <servlet-name>UpdateFinancialOfferServlet</servlet-name>
    <servlet-class>servlets.UpdateFinancialOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFinancialOfferServlet</servlet-name>
    <url-pattern>/UpdateFinancialOfferServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserLoginFilter</display-name>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/userlogin.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>addAO</display-name>
    <servlet-name>addAO</servlet-name>
    <servlet-class>servlets.addAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAO</servlet-name>
    <url-pattern>/addAO</url-pattern>
  </servlet-mapping>
</web-app>